{% extends 'bootstrap/base.html' %}

{% block scripts %}
  {{ super() }}
  {{ datepicker.loader(theme="base") }} {# to load jQuery-ui #}
  {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block title %}Task Date{% endblock %}


{% block content %}
<div class="container">
<h1>Set Task Date</h1>
<form action="/task/newdate" method="post">
    <div class="row"><div class=" col-sm-2 " >
        Choose a task:
        <select name=task_name>
            {% for task in tasks %}
        <option name="{{ task.name }}">{{ task.name }}</option>
        {% endfor %}
        </select> 
    </div></div>
    <div class="row"><div class=" col-sm-2 " >
        New Date <input type="text" class="form-control dp" name="new_date"/>
    </div></div>
    <div class="row"><div class=" col-sm-2 " >
        <input type="submit" value="Submit" />
    </div></div>



</form>

</div>
{% endblock %}