
{% extends "bootstrap/base.html" %}
{% block title %}Tasks{% endblock %}
{% block content %}
<div class="container">
    <h1>Tasks</h1>
<div class="row" >
    <div class="col-sm-2  bg-success">OK</div>
    <div class="col-sm-2  bg-warning">Almost Due</div>
    <div class="col-sm-2  bg-danger">Over Due</div>
</div>
<hr />
    {% for task in tasks %}
    <div class="row">
        <div class=" col-sm-2 {{ task.overdue_status }} ">
            <div> <strong>{{ task.name }} </strong></div>
            <div> Due {{ task.due_time }} </div>
        </div>
    </div>
    <div class="row">
        <div > 
            <a   class=" col-sm-2 bg-primary" href="/do_task/{{ task.name }}"> 
                <strong>Do Now</strong>
            </a> 
        </div>
    </div>
    <div class="row">  <div class="p-3 " > --- </div>  </div>
    {% endfor %}
    <a href="/task/set_date">Edit task completion dates</a>
</div>
{% endblock %}
